<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="email=no" />
    <meta name="wap-font-scale"  content="no" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <title>极客普拉斯</title>
    <link href="axui/css/ax.css" rel="stylesheet" type="text/css" >
    <link href="axui/css/ax-response.css" rel="stylesheet" type="text/css" >
</head>
<body>
code
<header class="ax-header">
    <div class="ax-row">
        <a href="###" class="ax-open ax-iconfont ax-icon-menu"></a><a href="###" class="ax-open ax-iconfont ax-icon-cart"></a><span class="ax-open"></span>
        <div class="ax-col"><a href="###" class="ax-logo"><img src="https://src.axui.cn/v2.0/public/images/ax-logo.png" /></a></div>
        <div class="ax-nav">

            <div class="ax-item"><a href="###" class="ax-text">首页</a><span class="ax-line"></span></div>
            <div class="ax-item ax-selected"><a href="###" class="ax-text">新闻动态</a><span class="ax-line"></span></div>

            <div class="ax-search">
                <form name="search">
                    <input name="show" value="title" type="hidden">
                    <input name="keyboard" placeholder="关键字..." type="text"><a href="###" class="ax-iconfont ax-icon-search"></a>
                </form>
            </div>

            <div class="ax-login"><a href="###">登录</a><a href="###">注册</a></div>

            <span class="ax-btns"><a href="###" class="ax-iconfont ax-icon-question-o-f"><span class="ax-dot"></span></a><a href="###" class="ax-iconfont ax-icon-bell-f"><span class="ax-badge">8</span></a></span>

        </div>
        <a href="###" class="ax-open ax-iconfont ax-icon-bell-f"><span class="ax-badge">2</span></a><a href="###" class="ax-open ax-iconfont ax-icon-person"><span class="ax-dot"></span></a><a href="###" class="ax-open ax-iconfont ax-icon-search"></a>
    </div>
</header>
<div class="ax-space-header"></div>
页面内容,哈哈哈
<script src="axui/js/ax.js" type="text/javascript" charset="utf-8"></script>
<script type='text/javascript'>
    document.addEventListener("DOMContentLoaded", function () {
        //js内容
    });
</script>
</body>
</html>
